In [1]:
from surprise import Reader, Dataset, SVD, accuracy, KNNBasic, BaselineOnly, NormalPredictor, KNNWithMeans, SVDpp
from surprise.model_selection import cross_validate, train_test_split
from surprise.accuracy import rmse, mae, mse
from collections import namedtuple, defaultdict
import pandas as pd
import itertools
import numpy as np
import os
import time
import seaborn as sns
from pre_processing import *

# TODO
cambiar el rating y no darle mucha importancia a la cantidad_venta, por que lo que importa es si el cliente compra o no un producto, mas no la cantidad

In [14]:
customers_products = matrix.copy()

In [17]:
features = ['negocio_id', 'category_id', 'tier_id', 'business_id']
num_features = sum([product[feature].nunique() for feature in features])

In [20]:
features_names

,product_id,family_id,negocio_id,category_id,tier_id,utilidad_bruta_transf,business_id
0,881,1291,20,131,4,10.378017,21.0
1,805,1224,20,131,3,10.177925,21.0
2,892,1089,20,146,1,10.008243,21.0
3,841,1224,20,131,3,7.698362,21.0
4,830,1089,20,131,1,7.353678,21.0
...,...,...,...,...,...,...,...
932,786,1447,22,192,1,-0.184480,21.0
933,832,1447,22,192,3,-0.184480,21.0
934,848,1447,22,192,3,-0.184480,21.0
935,849,1447,22,192,2,-0.184480,21.0
936,933,1447,22,192,3,-0.184480,21.0

In [31]:
np.concatenate([product[feature].unique() for feature in features])

array([ 20.,  21.,  22., 131., 146., 181., 100., 155., 158., 191., 138.,
       147., 149., 168., 119., 115., 173., 135., 187., 179., 163., 185.,
       153., 174., 166., 180., 144., 178., 141., 175., 111., 112., 102.,
       184., 108., 172., 114., 133., 150., 117., 189., 110., 109., 143.,
       142., 137., 118., 129., 107., 162., 160., 156., 192.,   4.,   3.,
         1.,   2.,  21.,  51.,  31.,  61.,  22.,  70.,  54.,  nan,  71.,
        52.,  32.])

In [30]:
[product[feature].unique() for feature in features]

[array([20, 21, 22], dtype=int64),
 array([131, 146, 181, 100, 155, 158, 191, 138, 147, 149, 168, 119, 115,
        173, 135, 187, 179, 163, 185, 153, 174, 166, 180, 144, 178, 141,
        175, 111, 112, 102, 184, 108, 172, 114, 133, 150, 117, 189, 110,
        109, 143, 142, 137, 118, 129, 107, 162, 160, 156, 192], dtype=int64),
 array([4, 3, 1, 2], dtype=int64),
 array([21., 51., 31., 61., 22., 70., 54., nan, 71., 52., 32.])]

In [33]:
product['tier_id'].unique()

array([4, 3, 1, 2], dtype=int64)